### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
totalplayers = len(purchase_data["SN"].unique())
totalplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Unique Items
uniqueitems = len(purchase_data["Item ID"].unique())
uniqueitems

#Number of Purchases
numberpurchases = len(purchase_data["Purchase ID"].unique())
numberpurchases

#Total Revenue
totalrevenue = purchase_data["Price"].sum()
totalrevenue

#Average Price
averageprice = purchase_data["Price"].mean()
averageprice

#Summary Table
summarytable = pd.DataFrame({"Unique Item": [uniqueitems],
                            "Number of Purchases": [numberpurchases],
                            "Average Price": [averageprice],
                            "Total Revenue": [totalrevenue]})
summarytable.head()

summarytable.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

allcount = purchase_data["SN"].count()
allcount

#male data
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].count()
malecount

#percentmale
percentmale = malecount / totalplayers * 100
percentmale = percentmale.round(2)
percentmale

#female count
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].count()
femalecount 

#percentfemale
femalepercent = femalecount / totalplayers * 100
femalepercent = femalepercent.round(2)
femalepercent.round(2)
femalepercent

othercount = allcount - femalecount - malecount
othercount

otherpercent = othercount / totalplayers * 100
otherpercent.round(2)
otherpercent

2.604166666666667


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gendertable = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": 
                            [percentmale, femalepercent, otherpercent],
                                        "Total Count": [malecount, femalecount, othercount]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])
                                        


gendertable.style.format({"Percentage of Players": "{:.2f}%"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#figure out the math
genderpurchasetotal = purchase_data.groupby(["Gender"]).sum()["Price"]
genderpurchasetotal = genderpurchasetotal.round(2)
genderpurchasetotal


genderaverage = purchase_data.groupby(["Gender"]).mean()["Price"]
genderaverage = genderaverage.round(2)
genderaverage

gendercounts = purchase_data.groupby(["Gender"]).count()["Price"]
gendercounts

perperson = genderpurchasetotal / gendercounts 
perperson =perperson.round(2)
perperson

#create the table
genderpurchasetable = pd.DataFrame({"Purchase Count": gendercounts, 
                                   "Average Purchase Price": genderaverage, "Total Purchase Value": genderpurchasetotal,
                                   "Avg Purchase Total Per Person": perperson})
                                   
                                  
   

                                        
genderpurchasetable
genderpurchasetable.style.format({"Average Purchase Price": "${:.2f}", "Avg Purchase Total Per Person": "${:.2f}",
                                 "Total Purchase Value": "${:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Bin
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]


playerdemographic = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
playerdemographic

#calculations
agedemocount =playerdemographic.value_counts()
agedemocount = agedemocount.round(2)
 
agepercent = agedemocount / totalplayers *100
agepercent =agepercent.round(2)
agepercent

#create table
agedemotable = pd.DataFrame({"Total Count": agedemocount, "Percentage of Players": agepercent})


agedemotable = agedemotable.sort_index()
agedemotable

agedemotable.style.format({"Percentage of Players": "{:.2f}%"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame