### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [35]:
#Total numbers of players using SN
totalplayers = len(purchase_data["SN"].unique())
totalplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#Unique Items
uniqueitems = len(purchase_data["Item ID"].unique())
uniqueitems

#Number of Purchases
numberpurchases = len(purchase_data["Purchase ID"].unique())
numberpurchases

#Total Revenue
totalrevenue = purchase_data["Price"].sum()
totalrevenue

#Average Price
averageprice = purchase_data["Price"].mean()
averageprice

#Summary Table
summarytable = pd.DataFrame({"Unique Item": [uniqueitems],
                            "Number of Purchases": [numberpurchases],
                            "Average Price": [averageprice],
                            "Total Revenue": [totalrevenue]})
summarytable.head()

summarytable.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
#Group data by Gender and filter duplicates
grouped_df = purchase_data.groupby(["Gender"])
unique_df = grouped_df.nunique()

#Total Gender
total_gender = unique_df["SN"].sum()

#Percentage and Count of Players
count = unique_df["SN"].unique()
percentage = unique_df["SN"]/ total_gender

#Create new dataframe
final_gender = pd.DataFrame({"Percentage of Players": percentage,
                            "Count":count})
#Change percentage format and re order columns
final_gender["Percentage of Players"] = final_gender["Percentage of Players"].map("{:,.2%}".format) 
#Print final dataframe
final_gender

                      Percentage of Players  Count
Gender
Female                               14.06%     81
Male                                 84.03%    484
Other / Non-Disclosed                 1.91%     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
genderpurchasetotal = purchase_data.groupby(["Gender"]).sum()["Price"]
genderpurchasetotal = genderpurchasetotal.round(2)
genderpurchasetotal


genderaverage = purchase_data.groupby(["Gender"]).mean()["Price"]
genderaverage = genderaverage.round(2)
genderaverage

gendercounts = purchase_data.groupby(["Gender"]).count()["Price"]
gendercounts

perperson = genderpurchasetotal / gendercounts 
perperson =perperson.round(2)
perperson

#create the table
genderpurchasetable = pd.DataFrame({"Purchase Count": gendercounts, 
                                   "Average Purchase Price": genderaverage, "Total Purchase Value": genderpurchasetotal,
                                   "Avg Purchase Total Per Person": perperson})
                                   
                                  
   

                                        
genderpurchasetable
genderpurchasetable.style.format({"Average Purchase Price": "${:.2f}", "Avg Purchase Total Per Person": "${:.2f}",
                                 "Total Purchase Value": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:

age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]


playerdemographic = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
playerdemographic

#calculations
agedemocount =playerdemographic.value_counts()
agedemocount = agedemocount.round(2)
 
agepercent = agedemocount / totalplayers *100
agepercent =agepercent.round(2)
agepercent

#create table
agedemotable = pd.DataFrame({"Total Count": agedemocount, "Percentage of Players": agepercent})


agedemotable = agedemotable.sort_index()
agedemotable

agedemotable.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
# Bin the Purchasing Data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
# Run basic calculations
analysistot = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
analysistot

analysisavg = purchase_data.groupby(["Age Ranges"]).mean()["Price"]
analysisavg

analysiscounts = purchase_data.groupby(["Age Ranges"]).count()["Price"]
analysiscounts

#Average Purchase Total per Person 


analysisperperson = analysistot / analysiscounts 
analysisperperson = analysisperperson.round(2)
analysisperperson

#create DataFrame table
analysistable = pd.DataFrame({"Purchase Count": analysiscounts, "Average Purchase Price": analysisavg,
                             "Total Purchase Value": analysistot, "Average Purchase Per Person": analysisperperson})

#cleaner format
analysistable.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}",
                           "Average Purchase Per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
topcount = purchase_data.groupby(["SN"]).count()["Price"]
topcount.head()

topavgcount = purchase_data.groupby(["SN"]).mean()["Price"]
topavgcount.head()

toptotalvalue = purchase_data.groupby(["SN"]).sum()["Price"]
toptotalvalue.head()

topspenders = pd.DataFrame({"Purchase Count": topcount, "Average Purchase Price": topavgcount,
                           "Total Purchase Value": toptotalvalue})


topspenders.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
topspenders.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
item_id = purchase_data.groupby(purchase_data['Item ID'])
#item_id.head()
unique_items = item_id['Item ID'].unique().str[0]
item_name = item_id['Item Name'].unique().str[0]
item_purchase_count = item_id['Age'].count()
item_price = item_id['Price'].unique().str[0]
item_purchase_total = item_id['Price'].sum()

item_summary =pd.DataFrame({'Item ID':unique_items,
                'Item Name':item_name,
                'Item Price':item_price,
                'Item Count':item_purchase_count,
                'Total Purchase':item_purchase_total})


#item_summary = item_summary.set_index('Item ID')
item_summary = item_summary.sort_values('Item Count', ascending=False)
item_summary_df = item_summary[['Item Name','Item Count','Item Price','Total Purchase']]
item_summary_df.head()

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.19,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [43]:
most_profit=item_summary.sort_values('Total Purchase', ascending=False)
most_profit.head()

,Item ID,Item Name,Item Price,Item Count,Total Purchase
Item ID,,,,,
92,92,Final Critic,4.88,13,59.99
178,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,82,Nirvana,4.90,9,44.10
145,145,Fiery Glass Crusader,4.58,9,41.22
103,103,Singed Scalpel,4.35,8,34.80